/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

:root {
  --max-image-width: 100%;
}

.max-image-width img {
  max-width: var(--max-image-width);
}

.theme-black {
  --bg-color-primary: #000000;
  --bg-color-secondary: #333333;
  --text-color-primary: #ffffff;
  --text-color-secondary: #cccccc;
}

.theme-dark {
  --bg-color-primary: #1e2022;
  --bg-color-secondary: #404448;
  --text-color-primary: #ffffff;
  --text-color-secondary: #cccccc;
}

.theme-gray {
  --bg-color-primary: #b3bdd1;
  --bg-color-secondary: #626d80;
  --text-color-primary: #1e2022;
  --text-color-secondary: #303438;
}

.theme-light {
  --bg-color-secondary: #ababab;
}

.dir::before {
  content: url(chrome://global/skin/dirListing/folder.png);
  margin-right: 0.5rem;
}
