/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

.theme-black {
  --bg-color-primary: #000000;
  --bg-color-secondary: #333333;
  --text-color-primary: #ffffff;
  --text-color-secondary: #cccccc;
}

.theme-dark {
  --bg-color-primary: #1E2022;
  --bg-color-secondary: #404448;
  --text-color-primary: #ffffff;
  --text-color-secondary: #cccccc;
}

.theme-gray {
  --bg-color-primary: #B3BDD1;
  --bg-color-secondary: #626D80;
  --text-color-primary: #1E2022;
  --text-color-secondary: #303438;
}

.theme-light {}

.dir::before {
  content: url(chrome://global/skin/dirListing/folder.png);
  margin-right: .5rem;
}
